# Express Server Port
PORT=3001

# PostgreSQL Connection String
DATABASE_URL=postgres://username:password@localhost:5432/passman_db

# Security
# MUST be generated via `openssl rand -hex 32` or similar
JWT_SECRET=super_secret_jwt_key_example_change_me_in_production

# Frontend Origin Setting
FRONTEND_URL=http://localhost:3000
